# <center><font color='MediumSeaGreen'>Desafío - Calculando probabilidades</font><center>
<center><b> Bárbara Pérez </b><center>

_____________

## <font color='MediumSeaGreen'>Requerimientos</font>

<b><font color='MediumSeaGreen'>1.</font> Lectura de archivos</b>

- Importa <span style='background:gainsboro'><font color='dimgray'>pandas</font></span> y <span style='background:gainsboro'><font color='dimgray'>numpy</font></span> siguiendo las convenciones.

- Lee la base de datos <span style='background:gainsboro'><font color='dimgray'>worldcup2014.csv</font></span> y asígnela a un objeto <span style='background:gainsboro'><font color='dimgray'>df</font></span>.

- Solicita las primeras 5 observaciones con <span style='background:gainsboro'><font color='dimgray'>head</font></span>.

**(1 punto)**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('worldcup2014.csv')

In [3]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

_____________

<b><font color='MediumSeaGreen'>2.</font>  Frecuencia de continent:</b> utilizando <span style='background:gainsboro'><font color='dimgray'>value_counts</font></span> responde lo siguiente:

- ¿Cuál es el continente con una mayor presencia en la muestra?
- ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
- ¿Cuál es la probabilidad de elegir un equipo africano al azar?

**(1 punto)**

In [4]:
#calcular la frecuencia de continentes sobre la columna 'continent'
df2=df['continent'].value_counts()
df2

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

- ¿Cuál es el continente con una mayor presencia en la muestra?

El continente que tiene mayor presencia es **Europa**, con 13 grupos

In [5]:
#Probabilidad de elegir un grupo asiatico al azar
(df2.asia.sum()/df2.sum())*100

12.5

- *¿Cuál es la probabilidad de elegir un equipo asiático al azar?*

La probabilidad de elegir un equipo asiático al azar es de **12,5%**

In [6]:
#Probabilidad de elegir un equipo africano al azar
df2.africa.sum()/df2.sum()

0.15625

- *¿Cuál es la probabilidad de elegir un equipo africano al azar?*

La probabilidad de elegir un equipo africano al azar es de **15,6%**

____________________

<b><font color='MediumSeaGreen'>3.</font> Generación de un subconjunto de datos:</b> por cada continente, genere un nuevo
objeto que almacene sólo las observaciones del continente

**Tip:** Para ello puede utilizar la siguiente sintaxis: <span style='background:gainsboro'><font color='dimgray'>df[df[</font><font color='FireBrick'>'variable'</font><font color='dimgray'>] ==condicion]</font></span>.

**(1 punto)**

In [7]:
#Obtener nombres de los continenstes desde df
nombres_continentes = df['continent'].value_counts().index.values

In [8]:
#Mostrar lista de continentes
nombres_continentes

array(['europe', 'southamerica', 'africa', 'northamerica', 'asia'],
      dtype=object)

In [9]:
#Creo un diccionario, la cual contiene como:
#llave: el nombre del continente
#valor: valor del df de ese continente
continentes = {} 
for continente in nombres_continentes:
    continentes[continente] = df[df['continent'] == continente]

In [10]:
#Imprimir listado de df's por continente, mostrar qie se cumple con lo solicitado

for continente in continentes:
    print(continente, "=>",type(continentes[continente])) #muestra el nombre del continente y que contien su df
    print(continentes[continente]) #muestra el contenido del df

europe => <class 'pandas.core.frame.DataFrame'>
                      team continent group  group_pos  cantidad_juegos  \
2                  Croatia    europe     A          3                3
4              Netherlands    europe     B          1                3
6                    Spain    europe     B          3                3
9                   Greece    europe     C          2                3
14                   Italy    europe     D          3                3
15                 England    europe     D          4                3
16                  France    europe     E          1                3
17             Switzerland    europe     E          2                3
22  Bosnia and Herzegovina    europe     F          3                3
24                 Germany    europe     G          1                3
26                Portugal    europe     G          3                3
28                 Belgium    europe     H          1                3
30                  Russia    europe     H          3                3

    juegos_ganados  juegos_empatados  juegos_perdidos  goles_favor  \
2                1                 0                2            6
4                3                 0                0           10
6                1                 0                2            4
9                1                 1                1            2
14               1                 0                2            2
15               0                 1                2            2
16               2                 1                0            8
17               2                 0                1            7
22               1                 0                2            4
24               2                 1                0            7
26               1                 1                1            4
28               3                 0                0            4
30               0                 2                1            2

    goles_contra goles_diferencia  puntos  clasificado
2              6                0       3            0
4              3                7       9            1
6              7               −3       3            0
9              4               −2       4            1
14             3               −1       3            0
15             4               −2       1            0
16             2                6       7            1
17             6                1       6            1
22             4                0       3            0
24             2                5       7            1
26             7               −3       4            0
28             1                3       9            1
30             3               −1       2            0
southamerica => <class 'pandas.core.frame.DataFrame'>
         team     continent group  group_pos  cantidad_juegos  juegos_ganados  \
0      Brazil  southamerica     A          1                3               2
5       Chile  southamerica     B          2                3               2
8    Colombia  southamerica     C          1                3               3
13    Uruguay  southamerica     D          2                3               2
18    Ecuador  southamerica     E          3                3               1
20  Argentina  southamerica     F          1                3               3

    juegos_empatados  juegos_perdidos  goles_favor  goles_contra  \
0                  1                0            7             2
5                  0                1            5             3
8                  0                0            9             2
13                 0                1            4             4
18                 1                1            3             3
20                 0                0            6             3

   goles_diferencia  puntos  clasificado
0                 5       7            1
5                 2       6            1
8                 7       9            1
13                0       6            1
18                0       4            0
20                3       9            1
africa => <class 'pandas.core.frame.DataFrame'>
           team continent group  group_pos  cantidad_juegos  juegos_ganados  \
3      Cameroon    africa     A          4                3               0
10  Ivory Coast    africa     C          3                3               1
21      Nigeria    africa     F          2                3               1
27        Ghana    africa     G          4                3               0
29      Algeria    africa     H          2                3               1

    juegos_empatados  juegos_perdidos  goles_favor  goles_contra  \
3                  0                3            1             9
10                 0                2            4             5
21                 1                1            3             3
27                 1                2            4             6
29                 1                1            6             5

   goles_diferencia  puntos  clasificado
3                −8       0            0
10               −1       3            0
21                0       4            1
27               −2       1            0
29                1       4            1
northamerica => <class 'pandas.core.frame.DataFrame'>
             team     continent group  group_pos  cantidad_juegos  \
1          Mexico  northamerica     A          2                3
12     Costa Rica  northamerica     D          1                3
19       Honduras  northamerica     E          4                3
25  United States  northamerica     G          2                3

    juegos_ganados  juegos_empatados  juegos_perdidos  goles_favor  \
1                2                 1                0            4
12               2                 1                0            4
19               0                 0                3            1
25               1                 1                1            4

    goles_contra goles_diferencia  puntos  clasificado
1              1                3       7            1
12             1                3       7            1
19             8               −7       0            0
25             4                0       4            1
asia => <class 'pandas.core.frame.DataFrame'>
           team continent group  group_pos  cantidad_juegos  juegos_ganados  \
7     Australia      asia     B          4                3               0
11        Japan      asia     C          4                3               0
23         Iran      asia     F          4                3               0
31  South Korea      asia     H          4                3               0

    juegos_empatados  juegos_perdidos  goles_favor  goles_contra  \
7                  0                3            3             9
11                 1                2            2             6
23                 1                2            1             4
31                 1                2            3             6

   goles_diferencia  puntos  clasificado
7                −6       0            0
11               −4       1            0
23               −3       1            0
31               −3       1            0

____________________________

<b><font color='MediumSeaGreen'>4.</font> Probabilidad de clasificación a la siguiente ronda:</b> calcula la probabilidad de que un
país pase a la siguiente ronda (clasifique) por continente

- ¿Cuál es la probabilidad de que un país asiático pase a la siguiente ronda?
- ¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?
- ¿Cuál es la probabilidad de que un país europeo no clasifique?

**(1 punto)**

**Tip:** El problema puede ser resuelto de varias formas:
    
    - La manera más intuitiva corresponde a calcular la probabilidad en cada subconjunto creado en el problema 3.

    - Una forma alternativa es copiar todos los subsets creados en el problema 3 en una lista e iterar sobre dicha lista.

    - Una forma más elegante consiste en utilizar una operación de agrupación por continente, y luego calcular la probabilidad.

**(3 puntos)**

In [11]:
#Posibilidad de que un país asiatico pase a la siguiente ronda:

#Crear diccionario con los continentes y sus porcentajes
probabilidad_por_continente = {}
for continente in continentes: 
    #Crear loop
    df_continente = continentes[continente]
    #Calcular la probabilidad por continente
    probabilidad_por_continente[continente] = df_continente[df_continente['clasificado'] == 1].shape[0]/df_continente.shape[0]
    
    #Imprimir el resultado
    print(continente, probabilidad_por_continente[continente]*100, '%')

europe 46.15384615384615 %
southamerica 83.33333333333334 %
africa 40.0 %
northamerica 75.0 %
asia 0.0 %

- *¿Cuál es la probabilidad de que un país asiático pase a la siguiente ronda?*

In [12]:
print(f"La probabilidad de que un pais asiático pase a la segunda ronda es de {probabilidad_por_continente['asia']} %")

La probabilidad de que un pais asiático pase a la segunda ronda es de 0.0 %

- *¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?*

In [13]:
probabilidad_por_continente
porcentaje_por_continente = pd.DataFrame.from_dict({'continente': list(probabilidad_por_continente.keys()), 'probabilidad': list(probabilidad_por_continente.values())})
porcentaje_por_continente.sort_values(by ='probabilidad', ascending=False)

     continente  probabilidad
1  southamerica      0.833333
3  northamerica      0.750000
0        europe      0.461538
2        africa      0.400000
4          asia      0.000000

In [14]:
list(probabilidad_por_continente.keys())

['europe', 'southamerica', 'africa', 'northamerica', 'asia']

In [15]:
list(probabilidad_por_continente.values())

[0.46153846153846156, 0.8333333333333334, 0.4, 0.75, 0.0]

In [16]:
#Construir un df en base al diccionario de continentes y probabilidades
porcentaje_por_continente = pd.DataFrame.from_dict({'continente': list(probabilidad_por_continente.keys()), 'probabilidad': list(probabilidad_por_continente.values())})

In [17]:
#obtener los dos continentes con mayor probabilidad de clasificar
dos_mayores = porcentaje_por_continente.sort_values(by ='probabilidad', ascending=False).head(2)['continente']
dos_mayores

1    southamerica
3    northamerica
Name: continente, dtype: object

In [18]:
print("Los dos continentes con mayor probabilidad de clasificar, en orden decreciente son: {}, y {}".format(list(dos_mayores)[0], list(dos_mayores)[1]))

Los dos continentes con mayor probabilidad de clasificar, en orden decreciente son: southamerica, y northamerica

- *¿Cuál es la probabilidad de que un país europeo no clasifique?*

In [19]:
#Obtener la probabilidad de no clasificar de un país europeo
pais_europeo_no_clasifica = 1 - probabilidad_por_continente['europe']
print("La probabilidad de no clasificar de un país europeo fue de {}".format(pais_europeo_no_clasifica))

La probabilidad de no clasificar de un país europeo fue de 0.5384615384615384

____________________________

<b><font color='MediumSeaGreen'>5.</font> Probabilidad de victoria y derrota:</b> se pide utilizar <span style='background:gainsboro'><font color='dimgray'>value_counts</font></span> para calcular la probabilidad de que un continente contenga países con o sin victorias.

Para ello crea una columna adicional llamada <span style='background:gainsboro'><font color='FireBrick'>'ha_ganado'</font></span> que contenga un 0 si es que un país no tiene juegos ganados y un 1 si es que ha ganado al menos un juego.

**Sugerencias:** Para crear dicha columna puede revisar:

- <span style='background:gainsboro'><font color='dimgray'>np.where</font></span>, de Numpy
   
- <span style='background:gainsboro'><font color='dimgray'>pd.where</font></span>, de Pandas
    
- Además puede utilizar los mismos procedimientos sugeridos en el Desafío 4.

- Con base en el resultado del procedimiento recién descrito, responda lo
siguiente:

    A. ¿Qué continente tiene la mayor probabilidad de tener países con al menos 1
victoria?

    B. ¿Qué continente tiene un nivel similar entre países que tienen o no tienen
victorias?

- Reformule el código para juegos perdidos y analice los continentes con mayor
probabilidad de tener países sin juegos perdidos.

**(3 puntos)**

### Juegos ganados

In [20]:
df['ha_ganado'] = np.where(df['juegos_ganados'] >= 1, 1, 0)

In [21]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,ha_ganado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0,1
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1,1

In [22]:
df[df['continent'] == 'africa']['ha_ganado'].value_counts('%')

1    0.6
0    0.4
Name: ha_ganado, dtype: float64

In [23]:
df.groupby(['continent'])['ha_ganado'].value_counts('%') #.sort_values(ascending=False)

continent     ha_ganado
africa        1            0.600000
              0            0.400000
asia          0            1.000000
europe        1            0.846154
              0            0.153846
northamerica  1            0.750000
              0            0.250000
southamerica  1            1.000000
Name: ha_ganado, dtype: float64

**- ¿Qué continente tiene la mayor probabilidad de tener países con al menos 1 victoria?**

Se aprecia que:

<li> Southamerica tuvo la mayor probabilidad de ganar juegos (100%)
    
<li> Africa fué el continente que presento una mayor similitud entre juegos ganados (60%) y perdidos (40%)

_______

### Juegos perdidos

In [24]:
df['ha_perdido'] = np.where(df['juegos_perdidos'] >= 1, 1, 0)

In [25]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,ha_ganado,ha_perdido
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1,1,0
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1,1,0
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0,1,1
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0,0,1
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1,1,0

In [26]:
df[df['continent'] == 'africa']['ha_perdido'].value_counts('%')

1    1.0
Name: ha_perdido, dtype: float64

In [27]:
df.groupby(['continent'])['ha_perdido'].value_counts('%') #.sort_values(ascending=False)

continent     ha_perdido
africa        1             1.000000
asia          1             1.000000
europe        1             0.692308
              0             0.307692
northamerica  0             0.500000
              1             0.500000
southamerica  0             0.500000
              1             0.500000
Name: ha_perdido, dtype: float64

**-¿Qué continente tiene un nivel similar entre países que tienen o no tienen victorias?**

Se aprecia que:
<li> Africa y Asia tuvieron la mayor probabilidad de perder juegos (100%)
<li> Tanto NorteAmerica como SudAmerica presentaron una mayor similitud entre juegos ganados (50%) y perdidos (50%)

___

###### Reformule el código para juegos perdidos y analice los continentes con mayor probabilidad de tener países sin juegos perdidos.

In [28]:
#Asignar los dfs por continente obtenidos mas arriba, a las variables del ejemplo
africa_df = continentes['africa']
europe_df = continentes['europe']
asia_df = continentes['asia']
northamerica_df = continentes['northamerica']
southamerica_df = continentes['southamerica']

In [29]:
#Agrego el loop
for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    print(d['juegos_ganados'].value_counts('%'))

1    0.6
0    0.4
Name: juegos_ganados, dtype: float64
1    0.461538
2    0.230769
3    0.153846
0    0.153846
Name: juegos_ganados, dtype: float64
0    1.0
Name: juegos_ganados, dtype: float64
2    0.50
0    0.25
1    0.25
Name: juegos_ganados, dtype: float64
2    0.500000
3    0.333333
1    0.166667
Name: juegos_ganados, dtype: float64

In [30]:
#Refactorización de los dfs usando como base el loop de ejemplo
for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    #Agrego la nueva columna 'juegos ganados' (sin _ entre las palabras) y le asigno el valor correspondiente
    d['juegos ganados'] = np.where((d['juegos_ganados'] >= 1), 1, 0)
    #imprimo el resultado refactorizado
    print("------------------------------------")
    print(d['continent'].head(1))
    print(d['juegos ganados'].value_counts('%'))

------------------------------------
3    africa
Name: continent, dtype: object
1    0.6
0    0.4
Name: juegos ganados, dtype: float64
------------------------------------
2    europe
Name: continent, dtype: object
1    0.846154
0    0.153846
Name: juegos ganados, dtype: float64
------------------------------------
7    asia
Name: continent, dtype: object
0    1.0
Name: juegos ganados, dtype: float64
------------------------------------
1    northamerica
Name: continent, dtype: object
1    0.75
0    0.25
Name: juegos ganados, dtype: float64
------------------------------------
0    southamerica
Name: continent, dtype: object
1    1.0
Name: juegos ganados, dtype: float64

C:\ProgramData\Anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

En base a la refactorización del código:
<li> Southamerica tuvo la mayor probabilidad de ganar juegos (100%)
<li> Africa fué el continente que presento una mayor similitud entre juegos ganados (60%) y perdidos (40%)

<li> Si se considera un juego no ganado (perdido o empatado) como perdido, entonces se pueden usar los mismos datos y en consecuencia el continente con una mayor probabilidad de perder es asia (100% de partidos perdidos)

_________

____________